<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="shofidoodex_menu_root"
        name="ShofiMart Doodex"
        sequence="10"/>

    <menuitem id="shofidoodex_barang_menu_categ"
        name="Daftar Barang"
        parent="shofidoodex_menu_root"
        sequence="5"/>  

    <menuitem id="shofidoodex_pegawai_menu_categ"
        name="Pegawai"
        parent="shofidoodex_menu_root"
        sequence="10"/> 

    <menuitem id="shofidoodex_pelanggan_menu_categ"
        name="Pelanggan"
        parent="shofidoodex_menu_root"
        sequence="15"/> 

    <menuitem id="shofidoodex_penjualan_menu_categ"
        name="Penjualan"
        parent="shofidoodex_menu_root"
        sequence="20"/> 

    <menuitem id="shofidoodex_supplier_menu_categ"
        name="Supplier"
        parent="shofidoodex_menu_root"
        sequence="25"/>

    <menuitem id="shofidoodex_pembelian_menu_categ"
        name="Pembelian"
        parent="shofidoodex_menu_root"
        sequence="30"/>
        


</odoo>
